:root {
  --color: rgb(7, 96, 7);
  --seccolor: rgb(17, 240, 17);
  --bar: 5px;
}

.nav {
  background-color: var(--color);
  padding: 5px;
  margin: var(--bar);
}
.container {
  background-color: var(--seccolor);
  padding: var(--bar);
  margin: 6px;
}
ul {
  display: flex;
}
li {
  padding: 20px;
  list-style: inside;
  border: solid;
  border-color: var(--seccolor);
  margin: var(--bar);
}
