.container {
  height: 500px;
  width: 500px;
  border: 3px solid;
  /* box-sizing: border-box; */
  background-image: url(https://images.pexels.com/photos/247478/pexels-photo-247478.jpeg?cs=srgb&dl=clouds-cloudy-conifers-247478.jpg&fm=jpg);
}
img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  /* object-fit: contain; */
  /* object-position:center; */
}
