.box {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  height: 30vh;
  width: 70vw;
  /* transform,filter or perspective properties can also make an element appear as positioned. */
}
.parent {
  border: 2px solid black;
  margin: 30px;
  padding: 20px;
  height: 180vh;
  position: relative;
}
.box1 {
  background-color: aqua;
  height: 50px;
  width: 100%;
  top: 2px;
  position: sticky;
  margin: 0;
  padding: 0;
}
.box2 {
  background-color: bisque;
  /* position:absolute; */
  /* top:2px; */
}
.box3 {
  background-color: brown;
  position: fixed;
  bottom: 30px;
  right: 5px;
}
.box4 {
  background-color: coral;
  position: relative;
  top: 50px;
  left: 5px;
  z-index: -1;
}
.box5 {
  background-color: blue;
}
