* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.logo {
  color: #e50914;
  height: 2.5rem;
}
main {
  background-image: url(Assets/Images/Background.jpg);
  height: 110vh;
  background-size: cover;
  position: relative;
  top: -90px;
  z-index: 1;
}
.darkEffect {
  opacity: 0.7;
  background-color: black;
  height: 100%;
  position: relative;
  top: 0px;
  z-index: 2;
}
.signIn {
  background-color: red;
  color: azure;
  margin: 0px 0px 0px 10px;
  padding: 8px;
  width: 75px;
  border: none;
  border-radius: 5px;
}
.language {
  color: azure;
}
.language option {
  color: black;
}
.language img {
  width: 30px;
}
@media (min-width: 780px) {
  .language {
    padding: 10px;
    background: none;
    color: azure;
  }
  nav {
    display: flex;
    width: 85vw;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }
  .hero {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    color: white;
  }
}
#request {
  font-size: 1rem;
  margin: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#title {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
}
#middle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
