:root {
  --prymcolor: rgb(0, 255, 119);
  --seccolor: rgb(255, 208, 0);
  --tricolor: rgb(251, 0, 255);
  --quadcolor: rgb(0, 255, 247);
  --fontsz: 20px;
}
h1 {
  background-color: var(--quadcolor);
}
.nav {
  background-color: var(--prymcolor);
}
.nav:hover {
  background-color: var(--seccolor);
}
ul {
  display: flex;
  list-style: none;
}
ul li:hover {
  background-color: var(--tricolor);
}
li {
  padding: 5px;
  margin: 5px;
  font-size: var(--fontsz);
}
p {
  padding: var(--fontsz);
  margin: 5px;
  font-size: var(--fontsz);
  background-color: var(--tricolor);
}
